body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container, .main-menu {
    text-align: center;
    width: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-menu img {
    width: 500px;
    height: auto;
}

.main-menu button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.main-menu button:hover {
    background-color: #3700b3;
}

.game-container {
    display: none;
}

.base-container {
    position: relative;
    width: 500px;
    height: 700px;
    margin: 20px auto 0 auto;
}

.base-container img {
    width: 500px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/* Base image */
#base-image {
    z-index: 2;
}

/* Backpack */
.backpack {
    z-index: 1;
}

/* Shoes */
.shoes {
    z-index: 6;
}

/* Suit */
.suit {
    z-index: 5;
}

/* Bag */
.bag {
    z-index: 7;
}

/* Cap */
.cap {
    z-index: 8;
}

/* Scarf */
.scarf {
    z-index: 9;
}

/* FaceL */
.face-left {
    z-index: 3; /* Ensure it stacks on top */
}

/* FaceR */
.face-right {
    z-index: 4; /* Ensure it stacks above FaceL */
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.category img {
    width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    border: 0.5px solid transparent;
    border-radius: 2px;
    object-fit: cover;
}

.category img:hover {
    border-color: #3700b3;
}